body{
    margin:0;
    background:#07132b;
    color:white;
    font-family:monospace;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.container{
    text-align:center;
    background:#0f214a;
    padding:30px;
    border:4px solid white;
    border-radius:12px;
    max-width:500px;
}

button{
    background:#ff4fa3;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
    border-radius:8px;
}

button:hover{
    transform:scale(1.05);
}

.stars{
    position:fixed;
    width:100%;
    height:100%;
    background-image:radial-gradient(white 1px, transparent 1px);
    background-size:40px 40px;
    opacity:0.5;
}